/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--main-font), sans-serif;
  background-image: var(--gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--main-font-text-weight);
}

.block {
  margin-inline-start: auto;
  margin-inline-end: auto;
  inline-size: var(--block-width);
}

.header {
  margin-block-start: var(--margin-header-top);
  margin-block-end: 98px;
  font-family: var(--accent-font), fantasy;
  text-transform: uppercase;
}

.header__group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: var(--border);
  padding-block-start: var(--header-padding-vertical);
  padding-block-end: var(--header-padding-vertical);
  background-color: var(--light-color);
}

.header__logo {
  font-size: var(--logo-font-size);
}

.header__title {
  font-size: var(--header-title-size);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 51px;
}

.article {
  border: var(--border);
  background-color: var(--light-color);
}

.article__title {
  padding-inline-start: 10px;
  padding-block-start: 4px;
  padding-block-end: 4px;
  font-size: var(--article-text-size);
  font-variation-settings: "wght" var(--main-font-title-weight);
}

.picture-wrapper {
  position: relative;
  border-block-start: var(--border);
  border-block-end: var(--border);
  block-size: var(--picture-height);
}

.article__picture {
  inline-size: 100%;
  block-size: 100%;
}

.picture-wrapper-label {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 1;
  opacity: 50%;
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px 0 var(--text-stroke-color), 0 1px var(--text-stroke-color),
    1px 0 var(--text-stroke-color), 0 -1px var(--text-stroke-color);
  mix-blend-mode: hard-light;
}

@supports (
  (text-stroke: 1px var(--text-stroke-color)) or
    (-webkit-text-stroke: 1px var(--text-stroke-color))
) {
  .picture-wrapper-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
  }
}

.article__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-inline-start: 25px;
  margin-inline-end: 25px;
  margin-block-start: 29px;
  margin-block-end: 25px;
  max-inline-size: var(--article-text-width);
}

.article__text {
  font-size: var(--article-text-size);
  line-height: 21px;
}

.article__buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
  max-block-size: 38px;
}

button {
  background: none;
}

.button {
  position: relative;
  border: var(--border);
  overflow-x: hidden;
  color: var(--light-color);
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 0.9;
  background-color: var(--light-color);
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  border: 2px solid transparent;
  padding-inline-start: 0;
  padding-inline-end: 0;
  transition: border 0.3s ease;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: var(--border);
  outline: none;
}

.card__like-button {
  padding-block-start: 12px;
  padding-block-end: 12px;
  inline-size: 130px;
}

.button__text {
  position: relative;
  z-index: 1;
  mix-blend-mode: difference;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  inline-size: 100%;
  block-size: 100%;
}

.button:focus {
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  outline: none;
}

.button:hover::after {
  transform: translateX(0);
}

button:hover {
  cursor: pointer;
}

.save-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 9px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-end: 100px;
  padding-block-start: 14px;
  padding-block-end: 14px;
  inline-size: var(--save-button-width);
}

.save-button .floppy {
  fill: var(--light-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.filter-bright {
  filter: brightness(160%);
}

.filter-gray {
  filter: grayscale(50%);
}

.filter-saturate {
  filter: saturate(300%);
}

.filter-contrast {
  filter: contrast(50%);
}

.filter-invert {
  filter: invert(70%);
}

.filter-sepia {
  filter: sepia(80%);
}

.filter-many {
  filter: sepia(50%) contrast(70%) brightness(160%);
}

dialog {
  position: fixed;
  inset: 0;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border: var(--border);
  padding: 30px;
  overflow: hidden;
  inline-size: var(--dialog-width);
}

dialog[open] {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

dialog[open] .dialog-text {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: center;
  gap: 20px;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog-text .floppy {
  inline-size: 39px;
  block-size: 39px;
  mix-blend-mode: difference;
}

.dialog-text p {
  font-family: var(--accent-font), fantasy;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.close-button {
  text-transform: uppercase;
  min-block-size: 38px;
  inline-size: var(--close-button-width);
}

@media (width <= 375px) {
  .header {
    margin-block-end: 100px;
  }
  .article__title {
    max-inline-size: 351px;
  }
  .save-button {
    flex-direction: column;
  }
  .save-button .floppy {
    inline-size: 28px;
    block-size: 28px;
  }
  dialog {
    padding-inline: 40px;
  }
}
